

.bg-primary {
    background-color:rgb(25, 35, 133) !important;
}

.nav-link {
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: rgb(208, 217, 224);
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 24rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 67px;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
}